/*--------------
      font
---------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*-------------------
      common style
---------------------*/
.container {
  width: 1200px;
  font-family: "Roboto", sans-serif;
  margin: 0px auto 10% auto;
}
/*----------------------------
header area start
------------------------------*/

.banner-container {
  background-color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.banner-child {
  width: 50%;
}
.child-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5% 5% 5% 5%;
  box-sizing: border-box;
}
.banner-head {
  color: white;
  font-weight: 700;
  font-size: 70px;
}
.banner-text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.btn {
  padding: 10px 20px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 7px;
  margin-top: 2%;
}
.btn:hover {
  background-color: blue;
}
.banner-image {
  width: 100%;
  padding-top: 60px;
  padding-right: 80px;
  box-sizing: border-box;
}
@keyframes football-annimation {
  0% {
    bottom: 20px;
    left: 20px;
  }
  10% {
    left: 100px;
    bottom: 100px;
  }
  20% {
    left: 200px;
    bottom: 20px;
  }
  30% {
    left: 300px;
    bottom: 100px;
  }
  40% {
    bottom: 20px;
    left: 400px;
  }
  50% {
    bottom: 100px;
    left: 500px;
  }
  60% {
    bottom: 20px;
    left: 600px;
  }
  70% {
    bottom: 100px;
    left: 700px;
  }
  80% {
    bottom: 20px;
    left: 800px;
  }
  90% {
    bottom: 100px;
    left: 900px;
  }
  100% {
    bottom: 20px;
    left: 1000px;
  }
}
.football {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 100px;
  animation: football-annimation 4s linear 0s infinite alternate;
  animation-play-state: running;
  transform-origin: left;
}
/*----------------------------
header area end
------------------------------*/

/*//////////////////////////
          Blog start
\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.blog {
  display: grid;
  gap: 3%;
  grid-template-columns: 312px 1fr;
}
.blog-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #161616;
  height: 312px;
  border-radius: 10px;
  box-sizing: border-box;
}
.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
.blog-align2 {
  text-align: center;
}
.blog-align2 h3 {
  font-size: 20px;
}
.blog-align2 p {
  font-size: 14px;
}
.blog-btn {
  cursor: pointer;
  font-weight: 700;
  color: black;
  background-color: white;
  width: 252px;
  height: 64px;
  border: none;
  border-radius: 10px;
}
.up-btn {
  text-decoration: none;
  color: black;
}

#clicked-btn {
  color: white;
  background-color: red;
  border: 2px solid white;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.blog-item {
  box-shadow: 10px 10px 20px lightgray;
  border: none;
  border-radius: 10px;
}
.blog-item img {
  width: 100%;
}
.blog-item button {
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  padding: 5px 20px;
}
.blog-align {
  margin: 20px;
}
.blog-info {
  margin-right: 30px;
}
.tab-only {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.tab-btn {
  display: none;
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/*//////////////////////////
          Blog END
\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*^^^^^^^^^^^^^^^^^^^^^^^^
footer start
^^^^^^^^^^^^^^^^^^^^^^^^^^ */
footer {
  background-color: #161616;
}
.f-div {
  width: 100%;
  height: auto;
}
footer h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 40px;
  padding-top: 50px;
}
footer hr {
  background: #ffffff1a;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer div nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer nav a {
  text-decoration: none;
  color: #b9b9b9;
  padding: 10px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  padding: 10px;
}
.social a {
  color: #b9b9b9;
  padding: 10px;
  font-size: 30px;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^
footer END
^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/*-----------------
    media queries
------------------- */

/*///// mobile device \\\\\*/

@media only screen and (max-width: 375px) {
  .container {
    width: 90%;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-child {
    width: 100%;
  }
  .child-1 {
    align-items: center;
  }
  .banner-head {
    font-size: 22px;
    text-align: center;
  }
  .banner-text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .banner-image {
    padding: 0% 15% 0% 15%;
  }
  .football {
    display: none;
  }
  .blog {
    grid-template-columns: 1fr;
  }
  .blog-nav {
    background-color: white;
  }
  .blog-btn {
    border: 1px solid lightgray;
  }
  .blogs {
    grid-template-columns: 1fr;
    margin-bottom: 30%;
  }
  footer div {
    width: 100%;
  }
  footer h1 {
    font-size: 22px;
  }
  footer nav {
    flex-direction: column;
  }
  footer nav a {
    margin-bottom: 20px;
  }
  .social {
    margin: 0px;
    padding: 0px;
  }
}

/*///// Tab device \\\\\*/

@media only screen and (min-width: 376px) and (max-width: 834px) {
  .container {
    width: 734px;
  }
  .child-1 {
    align-items: flex-start;
  }
  .banner-head {
    font-size: 40px;
  }
  .banner-text {
    font-size: 14px;
    line-height: 24px;
  }
  .banner-image {
    width: 100%;
    padding-top: 70px;
    padding-right: 20px;
  }
  .football {
    display: none;
  }
  .blog {
    grid-template-columns: 1fr;
  }
  .blog-nav {
    flex-direction: row;
    background-color: white;
    height: auto;
  }
  .blog-btn {
    width: 10rem;
    border: 1px solid lightgray;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .tab-btn {
    display: inline-block;
  }
  .f-div {
    width: 100%;
  }
}
